.component__seven{
    display: flex;
    justify-content: center;
    height: 45rem;
    margin-bottom: 10rem;
    flex:0.9;
}
.component__seven>.main__content{
    flex:0.6;
    margin-top: 17rem;
}
.main__content>.quote{
    font-weight: 180;
    font-size: 3.5rem;
}


@media screen and (max-width:800px)
{
   .component__seven{
       display:flex;
       flex-direction: column;
       justify-content: center;
       width: 100vw;
       flex:1;
       height: 100%;
   } 
   .component__seven>.main__content
   {
       flex:0.7
   }
}
