.component__two{
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
    flex:0.9;
}

@media screen and (max-width:800px)
{
   .component__two{
       display:flex;
       flex-direction: column;
       justify-content: space-between;
       height: 100%;
       flex:1;
      
   } 
}
